<div class="explore">
    <div class="explore__divider">*****</div>
    <!--<ul class="categories">-->
        <!--<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>-->
        <!--<li class="categories__item"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>-->
        <!--{% for category in site.data.categories %}-->
            <!--<li class="categories__item"><a href="{{ '/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>-->
        <!--{% endfor %}-->
    <!--</ul>-->
    <p class="btc">BTC 1ELgUwXTvLjTwr1Ca3ae27Ezih4rSfAFz6</p>
    <p class="footer">"Take wrong turns. Talk to strangers. Do things without always knowing how they'll turn out.<br>
        And remember that you are always making up the future as you go."<br>
        -<a href="https://xkcd.com/267/">xkcd</a>
    </p>
</div>
