<div class="explore">
    <div class="explore__devider">*****</div>
    <ul class="categories">
        <li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
        <li class="categories__item"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>
