---
layout: page
sitemap:
  priority: 1
---

<p>
  I'm a junior at MIT pursuing computer science and mathematics.
  I want to make computing universally accessible as a medium and an art,
  design technical tools that empower normal people, and solve general AI.
</p>
<p>
  That will probably take a while, so the intermediate plan is to hang out
  <span class="variable" id="location"></span>, sipping
  <span class="variable" id="beverage"></span> while listening to
  <span class="variable" id="music"></span> and reading
  <span class="variable" id="reading"></span>.
</p>
<br><br>

<ul class="list-posts">
  {% for post in site.posts limit:5 %}
    {% include lists/post.html %}
  {% endfor %}
</ul>

<script src="{{ site.url }}/assets/js/index.js"></script>
