html {
  font-size: 12px;
}

nav {
  font-size: inherit;
}

ul.links {
  margin: 0;
  padding-left: 0;
  display: block;
}

ul.links li {
  display: inline-block;
}

ul.links li::before {
  content: "· "
}

nav span::before {
  content: "/ "
}

ul.links li:first-child::before,
nav span:first-child::before {
  content: none;
}
