<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>
        <ul class="menu">
            <li class="menu__entry"><a href="/about">About</a></li>
            <li class="menu__entry"><a href="/thoughts">Thoughts</a></li>
            <li class="menu__entry"><a href="/projects">Projects</a></li>
        </ul>
    </div>

    <ul class="social-links">

        <li class="social-links__entry">
            <a href="https://github.com/{{ site.author.github }}" target="_blank">
                <img src="/assets/images/github.svg"/>
            </a>
        </li>
        <li class="social-links__entry">
            <a href="mailto:{{ site.author.email }}" target="_blank">
                <img src="/assets/images/envelope.svg"/>
            </a>
        </li>
        <li class="social-links__entry">
            <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
                <img src="/assets/images/twitter.svg"/>
            </a>
        </li>
        <li class="social-links__entry">
           <a href="/resume.pdf" target="_blank">
                <img src="/assets/images/file.svg"/>
           </a>
        </li>
    </ul>
</header>
