.social-links__entry > a {
    text-decoration: none;
    background-image: none;
    text-shadow: none;
}

.social-links__entry > a > img {
    display: inline-block;
    margin: 0;
    height: 24px;
    opacity: 0.5;
}

/* =Header */
.wrapper {
    max-width: 800px;
    margin: 100px auto;
}

.header {  overflow: hidden;  }

.navigation {  float:left;  }

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin:0;
    padding: 0;
    list-style-type: none;
}

.menu__entry {
    display: inline-block;
    margin: 0 25px 0 0;
    &:last-child {  margin-right: 0;  }
}

.menu__entry a {
    text-shadow: none;
    background-image: none;
}

.social-links {
    float:right;
    color: $cloudy;
    list-style-type: none;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
}

/* =Titles */
.page-title {
    margin-top:100px;
    margin-bottom:125px;
    text-align: center;
}

.page-title__text {
    font-weight: 700;
    font-size: 70px;
}

.page-title__subtitle {
    font-weight: 400;
    font-size: 22px;
    color: $cloudy;
    margin: 8px;
}

.page-title__links {
    line-height: 0.7;
}

.page-title__link {
    font-weight: 400;
    font-size: 20px;
    color: $cloudy;
}
.page-title__link:after {
    content: "/";
    margin-left: 11px;
    color: $cloudy;
}

.page-title__link:last-child:after {
    content: "";
    margin-left: 0px;
}

.post-title {  margin-bottom: 110px;  }

.post-title__text {  font-size: 40px;  }

.post-title__subtitle {  font-size: 20px;  }

/* =Post teasers */

.list-posts {
    list-style-type: none;
    padding: 0px;
}

.post-teaser {
    margin-bottom: 45px;
    font-weight: 700;
}

.post-teaser > a {
    text-shadow: none;
    background-image: none;
}

.post-teaser__title {
    font-size: 22px;
    color: $iron;
}

.post-teaser__subtitle {
    font-size: 16px;
    color: $cloudy;
}

.post-teaser__excerpt > p {
    font-size: 16px;
    color: $iron;
    line-height: 22px;
    font-weight: 500;
    margin: 8px 0 0 0;
}

.post-teaser__date {
    font-size: 16px;
    float: right;
    vertical-align: middle;
    color: $cloudy;
}

.post-teaser__link {  position: relative;  }

.post-teaser__image {
    position: absolute;
    width: inherit;
}

.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 140px;
}

.explore__divider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}

.categories__item {
    display: inline-block;
}

.categories__item a {
    color: $cloudy;
    font-size: 1em;
    //font-weight: bold;
    background-image: none;
    text-shadow: none;
}

.categories__item:before {
    content: "  // ";
    color: $cloudy;
}

.categories__item:first-child:before {
    content: "";
    color: $cloudy;
}

/* =Post page */
.about {
    color: $cloudy;
    margin-top: 70px;
    text-align: center;
    line-height: 24px;
}

.about__divider {
    font-size: 20px;
    margin-bottom: 50px;
    letter-spacing: 9.09px;
}

.about__text {
    font-size: 18px;
}

.variable {
    -moz-transition: color 50ms ease;
    -o-transition: color 50ms ease;
    -webkit-transition: color 50ms ease;
    transition: color 50ms ease;
}

.variable:hover {
    cursor: pointer;
    color: $cloudy;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
