/* =Base */
body {
    font-family: 'PT Sans', sans-serif, 'Source Code Pro', monospace;
    color: $iron;
    background-color: $dorian;
     //background: $dorian url('graph-paper.svg') 50% 50%;
}

h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;

    -moz-transition: opacity 50ms ease;
    -o-transition: opacity 50ms ease;
    -webkit-transition: opacity 50ms ease;
    transition: opacity 50ms ease;

    &:hover, &:focus {
        opacity: 0.7;
    }
}

p > a, li > a {
    // I hate everything
    text-shadow: -1px -1px 0 $dorian, 1px -1px 0 $dorian, -1px 1px 0 $dorian, 1px 1px 0 $dorian;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2.5px, $cloudy 2.5px, $cloudy 3px, rgba(0, 0, 0, 0) 3px);
}

p {

    font-size: 19px;
    line-height: 26px;
}

li {
    font-size: 19px;
    line-height: 26px;
    margin: 8px 0 8px 0;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}

h1 {
  margin-bottom: 0;
}

h3 + p {
    margin-top: 0;
}

h1 + h2 {
  margin-top: 0;
  margin-bottom: 1em;
  color: $cloudy;
  font-weight: 400;
  font-size: 22px;
}

dl {
    margin: 0;
}

dt {
    margin-top: 8px;
    font-size: 19px;
    color: $iron;
    //font-weight: bold;
}

dd {
    -webkit-margin-start: 0;
    font-size: 16px;
    color: $cloudy;
}


blockquote {
    //letter-spacing: 3px;
    margin: 30px 0 70px 0;
    padding: 0 10% 0 10%;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 18px;
        color: $iron;
        font-weight: 400;
    }
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    max-width: 800px;
    margin: 100px auto;
}

.header {
    overflow: hidden;
}

.navigation {
    float:left;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin:0px;
    //margin-top: 6px;
    padding: 0px;
    list-style-type: none;
}

.menu__entry {
    display: inline-block;
    margin: 0 25px 0 0;
    //margin-right: 25px;

    &:last-child {
        margin-right: 0px;
    }
}

.menu__entry a {
    text-shadow: none;
    background-image: none;
}

.social-links {
    float:right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
}

/* =Titles */
.page-title {
    margin-top:100px;
    margin-bottom:125px;
    text-align: center;
}

.page-title__text {
    font-weight: 700;
    font-size: 70px;
}

.page-title__subtitle {
    font-weight: 400;
    font-size: 22px;
    color: $cloudy;
    margin: 8px;
}

.page-title__links {
    line-height: 0.7;
}

.page-title__link {
    font-weight: 400;
    font-size: 20px;
    color: $cloudy;
}
.page-title__link:after {
    content: "/";
    margin-left: 11px;
    color: $cloudy;
}

.page-title__link:last-child:after {
    content: "";
    margin-left: 0px;
}


.post-title {
    margin-bottom: 110px;
}

.post-title__text {
    font-size: 40px;
}

.post-title__subtitle {
    font-size: 20px;
}

/* =Post teasers */

.list-posts {
    list-style-type: none;
    padding: 0px;
}

.post-teaser {
    margin-bottom: 45px;
    font-weight: 700;
}

.post-teaser > a {
    text-shadow: none;
    background-image: none;
}

.post-teaser__title {
    font-size: 22px;
    color: $iron;
}

.post-teaser__subtitle {
    font-size: 16px;
    color: $cloudy;
}

.post-teaser__excerpt > p {
    font-size: 16px;
    color: $iron;
    line-height: 22px;
    font-weight: 500;
    margin: 8px 0 0 0;
}

.post-teaser__date {
    font-size: 16px;
    float: right;
    vertical-align: middle;
    color: $cloudy;
}

.post-teaser__link {
    position: relative;
    //margin: 0 0 10px 0;
}

.post-teaser__image {
    position: absolute;
    width: inherit;
}

.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 140px;
}

.explore__divider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}

.categories__item {
    display: inline-block;
}

.categories__item a {
    color: $iron;
    font-size: 19px;
    font-weight: bold;
    background-image: none;
    text-shadow: none;
}

.categories__item:before {
    content: " / ";
    //margin-left: 6px;
    color: $cloudy;
}

.categories__item:first-child:before {
    content: "";
    color: $cloudy;
}

/* =Post page */
.about {
    color: $cloudy;
    margin-top: 70px;
    text-align: center;
    line-height: 24px;
}

.about__divider {
    font-size: 20px;
    margin-bottom: 50px;
    letter-spacing: 9.09px;
}

.about__text {
    font-size: 18px;
}

@media (max-width: 800px) {
    .logo {
        font-size: 40px;
    }
    /* =Base */
    p {
        font-size: 16px;
        line-height: 1.6;
    }

    .wrapper {
        width: 80%;
    }

    .navigation,
    .social-links {
        @include centered-block();
    }

    .social-links {
        font-size: 30px;
        margin-top: 35px;
    }

    .page-title {
        margin-top: 16px;
        margin-bottom: 60px;
    }

    .page-title__text {
        font-size: 40px;
    }

    .page-title__subtitle {
        font-size: 18px;
    }

    .post-teaser__title {
        font-size: 18px;
        @include centered-block();
    }

    .post-teaser__date {
        font-size: 16px;
        margin-top: 0;
        float: none;
        @include centered-block();
    }

    .post-teaser__subtitle {
        display: none;
    }

    .post-teaser__link > br, .post-teaser > br {
        display: none;
    }

    .explore {
        margin-top: 80px;
    }

    .post-title__text {
        font-size: 28px;
    }

    .post-title__subtitle {
        font-size: 18px;
    }
}

.variable {
    -moz-transition: color 50ms ease;
    -o-transition: color 50ms ease;
    -webkit-transition: color 50ms ease;
    transition: color 50ms ease;
}

.variable:hover {
    cursor: pointer;
    color: $cloudy;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* TYBStackOverflow */
}